/* General stylesheet / stylesheet for index.html */
* {
  margin: 0;
  padding: 0;
}

/*NAV, main photo */

.top-logo {
  display: block;

  width: 200px;
  margin: 17px auto;
}

#main-top {
  background-color: #CAE8DE;
}

#main-nav-id {
  background-color: #CAE8DE;
}

.home-icon {
  width: 15px;
  margin: 5px 10px;
}

.main-nav {
  display: block;

  list-style: none;
}

.main-nav a {
  display: block;

  margin: 10px auto;

  text-align: center;
  text-decoration: none;
  letter-spacing: 3px;

  color: white;

  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-size: 20px;
}


.main-nav a:hover {
  color: #701370;
}

.home-icon a:hover {
  color: #701370;
}

#top-photo-home {
  width: 100%;

  opacity: 0.95;
}

#sign-me-up {
  margin: 15px;
  padding: 15px;

  letter-spacing: 3px;

  color: white;
  border: none;

  background-color: #74b59d;

  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

#sign-me-up:hover {
  color: #CAE8DE;
  cursor: pointer;
}


#mid-pg-banner {
  display: flex;

  justify-content: space-around;
  align-items: center;
}

#mid-pg-banner li {
  30%;
}

#mid-text {
  font-family: 'Montserrat', sans-serif;
}

#learn {
  font-size: 15px;
  font-style: italic;
}

#get-the {
  color: #808080;
}

#bold {
  color: #701370;

  font-weight: bold;
}

#ipad {
  float: left;

  width: 100%;
}

#ipad-pic {
  width: 30vh;
}

#learn-p {
  margin: auto 10px;
}

#learn {
  color: #701370;
}

#mid-pg-banner li {
  list-style: none;

  text-decoration: none;
}

/* END MID PAGE BANNER */

/*White space, graphic links, blog links */

#color-logo {
  display: block;

  width: 5%;
  margin: 50px auto;
}

.mid-text {
  width: 60%;

  margin: 50px auto;

  color: #808080;
}

.mid-norm {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

.mid-spec {
  text-align: center;

  font-family: 'Playfair Display', serif;

  font-size: 28px;
  font-weight: bold;
  font-style: italic;
}

#spec {
  color: #701370;
}

.row-buttons {
  display: block;

  width: 60%;
  margin: 10px auto;
}

#color-logo-sm {
  display: block;

  width: 3%;
  margin: 50px auto;
}

/* Blog links */

#feat-blog-posts {
  margin: auto;

  text-align: center;

  color: #808080;

  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-style: italic;
}

#blog-buttons {
  display: flex;

  width: 75%;
  margin: auto;

  align-items: center;
  justify-content: space-around;

}

.col-buttons {
  width: 100%;
  margin: 20px auto;
}

#blog-buttons a {
  width: 20%;
}

/* Social media links */

#soc-media {
  display: flex;

  width: 100%;
  margin: 60px auto;

  justify-content: center;
}

#soc-media-ul li {
   display: inline-block;

   width: 15%;
   margin: 15px auto;

   list-style: none;

   text-align: center;
 }

 #soc-media-ul img {
   margin: 15px 15px;
   height: 20px;
 }

#facebook {
  text-align: right;
}

/* End social media */

 footer {
   display: inline-block;

   width: 100%;
   height: 50px;
   margin-top: -50px;

   text-align: center;

   color: white;

   background-color: #CAE8DE;

   font-family: 'Montserrat', sans-serif;
 }



 /* Addl styles for doctors.html */
 /* Stylesheet for doctors.html */

 /*Top-photo, list items down to second photo "Meet Dr. Larisa"*/
 #top-photo-doctors {
   width: 100%;
 }

 #doctors-list-one {
   margin: -30px auto 20px auto;
   padding: 10px;
 }

 #doctors-list-one ul {
   display: flex;
   flex-direction: column;

   width: 100%;

   list-style: none;

   align-items: center;
 }

 /* Copy directly over top photo */

 #doctors-page-new {
   width: 100%;

   text-align: center;

   color: #701370;
   background-color: white;

   font-family: 'Montserrat', sans-serif;
 }

 #italics-doctors-page {
   color: #7F7F7F;

   font-family: 'Playfair Display', serif;
   font-style: italic;
 }

 #help-p {
   width: 80%;
   margin: auto;
 }

 .how-we-can-help {
   color: #701370;

   font-family: 'Montserrat', sans-serif;
   font-size: 30px;

 }

 #standard-p-doctors {
   color: #7F7F7f;

   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
 }

 #mid-page-dr-div {
   display: flex;
   flex-direction: column;

   width: 100%;
   margin: auto;

   align-items: center;
   justify-content: center;
 }

.book-dr {
  display: block;
  margin: 20px auto;

}

.book-dr img {
  margin: 0 auto;
  display: block;
}

 .double-photos {
   display: block;

   width: 50%;
   margin: 20px auto;
 }

 .dr-title {
   margin: 10px auto;

   text-transform: uppercase;

   color: #701370;

   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
 }

 .dr-p {
   width: 50%;

   color: #7F7F7f;

   font-family: 'Montserrat', sans-serif;
   font-size: 12px;
 }

 .dr-buttons {
   width: 50%;
   margin: 20px auto;
 }

 /* Addl styles for altius.html */
 /* Stylesheet for altius.html */

 /*Top-photo, altius*/
 #top-photo-altius {
   width: 100%;

 }

 #altius-list-one {
   margin: -30px auto 20px auto;
   padding: 10px;
 }

 #altius-list-one ul {
   display: flex;
   flex-direction: column;

   width: 100%;

   list-style: none;

   align-items: center;
 }

 #altius-list-one {
   margin: -30px auto 20px auto;
   padding: 10px;
 }

 #altius-list-one ul {
   display: flex;
   flex-direction: column;

   width: 100%;

   list-style: none;

   align-items: center;
 }


 /* Copy directly under top photo */

 #altius-page-new {
   width: 100%;

   text-align: center;

   color: #701370;
   background-color: white;

   font-family: 'Montserrat', sans-serif;
 }

 #italics-altius-page {
   color: #7F7F7F;

   font-family: 'Playfair Display', serif;
   font-style: italic;
 }


 #help-p {
   width: 80%;
   margin: auto;
 }

 #how-we-can-help {
   color: #701370;

   font-family: 'Montserrat', sans-serif;
   font-size: 30px;
 }

 #standard-p-altius {
   color: #7F7F7f;

   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
 }

/*Addl styles for appointments.html*/
#top-photo-appt {
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;

  font-family: 'Montserrat', sans-serif;

  align-items: flex-end;
}

form div {
  margin: auto;

  font-family: 'Montserrat', sans-serif;
}

 /*Media queries*/

@media (min-width: 860px){
  .main-nav {
    display: flex;

    justify-content: space-around;
    align-items: center;
  }

  #learn {
    font-size: 25px;
  }

  .main-nav a {
    margin: 20px 10px;

    letter-spacing: 3px;

    font-size: 15px;

    flex-wrap: nowrap;
  }

  #soc-media-ul li {
     display: inline-block;

     width: 15%;
     margin: auto 10px;

     list-style: none;
 }

}
